NET "pixelClock" LOC = K15;

NET "Greytone[7]" LOC = V8;
NET "Greytone[6]" LOC = V7;
NET "Greytone[5]" LOC = V6;
NET "Greytone[4]" LOC = P8;
NET "Greytone[3]" LOC = P7;
NET "Greytone[2]" LOC = P6;
NET "Greytone[1]" LOC = V5;
NET "Greytone[0]" LOC = T3;


#NET "Red[0]" LOC = V8;
#NET "Red[1]" LOC = V7;
#NET "Red[2]" LOC = V6;
#NET "Red[3]" LOC = T7;
#NET "Red[4]" LOC = N9;
#
#NET "Green[0]" LOC = P8;
#NET "Green[1]" LOC = P7;
#NET "Green[2]" LOC = P6;
#NET "Green[3]" LOC = V5;
#NET "Green[4]" LOC = V4;
#
#NET "Blue[0]" LOC = T3;
#NET "Blue[1]" LOC = A2;
#NET "Blue[2]" LOC = A3;
#NET "Blue[3]" LOC = A4;
#NET "Blue[4]" LOC = A5;

NET "hSync" LOC = M8;
NET "vSync" LOC = R5;
